.submit-button {
  width: 100%;
  border: none;
  border-radius: 30px;
  background-color: #8D7FC7;
  color: white;
  padding: 12px 145px;
  font-family: "Circe Rounded Bold";
  font-size: 18px;
  line-height: 125%;
  text-align: center;
  cursor: pointer;
  margin: 32px 0 0 0;
}
